---
import { getCollection } from 'astro:content';

import Regular from '../../layouts/Regular.astro';

export async function getStaticPaths() {
  const aboutEntries = await getCollection('acerca');

  const pages = aboutEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));

  return pages;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Regular title={`${entry.data.title} - Una nueva piel`}>
	<div class="flex flex-col gap-8 mx-auto py-8 px-6">
		<header class="max-w-prose">
			<span class="block font-bold text-4xl text-slate-50 mb-2">
				Una nueva piel
			</span>
			<span class="block text-md italic text-slate-100">
				¿Qué hacemos con las tecnologías y qué nos hacen las tecnologías?
			</span>
		</header>
		<hr class="border-zinc-400">
		<main class="flex flex-col gap-6">
			<nav>
				<ul class="flex gap-2">
					<li class="text-zinc-200">
						<a href="/mano-bionica-2">Inicio</a>
					</li>
					<span class="text-zinc-200">&gt;</span>
					<li class="text-zinc-200">
						<a href="/mano-bionica-2/acerca">Acerca</a>
					</li>
					<span class="text-zinc-200">&gt;</span>
					<li class="text-zinc-50 font-bold">
						{entry.data.title}
					</li>
				</ul>
			</nav>
			<article class="prose prose-invert">
				<h1>{entry.data.title}</h1>
				<Content />
			</article>
		</main>
	</div>
</Regular>
