---
import { getCollection } from 'astro:content';

import Regular from '../../layouts/Regular.astro';

const aboutEntries = await getCollection('acerca');
---

<Regular title="Sobre la obra - Una nueva piel">
	<div class="flex flex-col gap-8 mx-auto py-8 px-6">
		<header class="max-w-prose">
			<span class="block font-bold text-4xl text-slate-50 mb-2">
				Una nueva piel
			</span>
			<span class="block text-md italic text-slate-100">
				¿Qué hacemos con las tecnologías y qué nos hacen las tecnologías?
			</span>
		</header>
		<hr class="border-zinc-400">
		<main class="flex flex-col gap-6">
			<nav>
				<ul class="flex gap-2">
					<li class="text-zinc-200">
						<a href="/">Inicio</a>
					</li>
					<span class="text-zinc-200">&gt;</span>
					<li class="text-zinc-50 font-bold">
						Acerca
					</li>
				</ul>
			</nav>
			<article class="prose prose-invert">
				<h1>Sobre la obra</h1>
				<ul class="flex flex-col gap-4">
					{aboutEntries.map(e => (
						<li>
							<a
								href={`/acerca/${e.slug}`}
							>
								{e.data.title}
							</a>
						</li>
					))}
				</ul>
			</article>
		</main>
	</div>
</Regular>

