---
import Fullscreen from "../../layouts/Fullscreen.astro";
import Regular from "../../layouts/Regular.astro";
import Pantalla from "../../components/Pantalla.astro";
import Offline from "../../components/Offline.astro";
import Monitor from "../../components/Monitor.astro";
export async function getStaticPaths() {
	const pages = [
		{ id: "", title: "", color: "" },
		{
			id: "ver_y_ser_visto",
			title: "Ver y ser visto",
			color: "green",
		},
		{
			id: "respirar",
			title: "Respirar",
			color: "red",
		},
		{
			id: "nuevas_pieles",
			title: "Nuevas pieles",
			color: "blue",
		},
		{
			id: "que_hacemos",
			title: "Qué hacemos",
			color: "yellow",
		},
	];

	return pages.map(({ id, title, color }) => {
		return {
			params: { id },
			props: { title, color },
		};
	});
}
const { id } = Astro.params;
const { title, color } = Astro.props;
const backendURL = "https://localhost:4430/";
---
<style>
	[x-cloak] {
		display: none !important;
	}
</style>
{
	!id && (
		<Regular title="Interacción - Una nueva piel">
			<svg class="h-0 w-0 absolute" aria-hidden="true" focusable="false">
				<linearGradient id="gradient-2" x2="1" y2="1">
					<stop offset="0%">
						<animate
							attributeName="stop-color"
							values="blue;#447799"
							dur="20s"
							repeatCount="indefinite"
						></animate>
					</stop>
					<stop offset="50%">
						<animate
							attributeName="stop-color"
							values="#224488;cyan"
							dur="20s"
							repeatCount="indefinite"
						></animate>
					</stop>
					<stop offset="100%">
						<animate
							attributeName="stop-color"
							values="cyan;#112266"
							dur="20s"
							repeatCount="indefinite"
						></animate>
					</stop>
				</linearGradient>
			</svg>
			<main
				id="main"
				class="max-w-prose mx-auto py-8 px-6 bg-gradient-to-b from-zinc-900 to-zinc-1000"
			>
				<ul
					x-data="{ pantallas: [] }"
					x-init={`() => fetch('${backendURL}/pantalla', { headers: { 'ngrok-skip-browser-warning': '69420' }})
								.then(resp => resp.json())
								.then(data => pantallas = data)
								.then(_ => document.getElementById("offline-msg").remove())
								.catch(err => console.log("Error"))`}
					class="grid grid-cols-1 gap-4"
				>  
					<template x-for="p in pantallas">
						<Monitor id="p._id" title="p.descripcion" />
					</template>
				</ul>
				<div slot="fallback"><Offline/></div>					
			</main>
		</Regular>)
}
{
	!!id && (
		<Fullscreen title={`Pantalla ${id} - Una nueva piel`}>
			<Pantalla id={id} color={color} />
		</Fullscreen>
	)
}
