---
import Fullscreen from '../layouts/Fullscreen.astro';
import Screen from '../components/Screen.astro';
---

<Fullscreen title="Una nueva piel">
	<!-- cool trick to get nice gradients on SVGs -->
	<svg class="h-0 w-0 absolute" aria-hidden="true" focusable="false">
	  <linearGradient id="gradient-1" x2="1" y2="1">
		<stop offset="0%">
		  <animate
			attributeName="stop-color"
			values="blue;#447799"
			dur="20s"
			repeatCount="indefinite"
		  >
          </animate>
		</stop>
		<stop offset="50%">
		  <animate
			attributeName="stop-color"
			values="#224488;cyan"
			dur="20s"
			repeatCount="indefinite"
		  >
          </animate>
		</stop>
		<stop offset="100%">
		  <animate
			attributeName="stop-color"
			values="cyan;#112266"
			dur="20s"
			repeatCount="indefinite"
		  >
          </animate>
		</stop>
	  </linearGradient>
	</svg>
	<main class="h-full bg-black">
		<video autoplay muted loop class="fixed object-cover h-full opacity-75">
			<source src="/fragmento12.webm" type="video/webm">
		</video>
		<div
			class="isolate max-w-prose h-full grid grid-cols-1 grid-rows-[auto_auto_1fr_auto] \
				py-8 gap-4 px-6 bg-gradient-to-b from-zinc-900"
		>
			<span class="font-bold text-5xl text-center text-slate-50">
				Una nueva piel
			</span>
			<span class="text-xl text-center italic text-slate-100">
				¿Qué hacemos con las tecnologías y qué nos hacen las tecnologías?
			</span>
			<a
				class="w-full"
				href={`${base}/interaccion`}
			>
				<div class="relative h-full w-3/4 mx-auto grid place-items-center">
					<Screen
						className="absolute filter invert"
						fill="url(#gradient-1)"
					/>
					<div
						class="text-2xl uppercase font-bold text-slate-50 absolute h-full w-full grid place-items-center transform -translate-y-6">
					Interacción
					</div>
				</div>
			</a>
			<a
				class="text-xl font-bold self-center justify-self-center text-slate-200"
				href={`${base}/acerca`}
			>
				Sobre la obra
			</a>
		</div>
	</main>
</Fullscreen>
