---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Una nueva piel">
	<main
		class="bg-black text-white h-full py-4 px-6"
	>
		<ul
			x-data="{ pantallas: [] }"
			x-init="() => fetch('https://192.168.0.81:4430/pantalla')
							.then(resp => resp.json())
							.then(data => pantallas = data)
							.catch(err => console.error(err))"
			class="flex flex-col gap-4 items-center"
		>
			<template x-for="p in pantallas">
				<li class="w-full">
					<a
						x-bind:href="'/interaccion/' + p._id"
						x-bind:class="!p.manipulable && 'pointer-events-none'"
						class="flex gap-4 p-4 border w-full justify-between"
					>
						<p x-text="p.id"></p>
						<p x-text="p.descripcion"></p>
					</a>
				</li>
			</template>
		</ul>
	</main>
</Layout>
